/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: white;
}

[data-theme='light'] .heroBanner {
  background-color: #27609e;
}

[data-theme='dark'] .heroBanner {
  background-color: #3178c6;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons a:nth-child(2) {
  margin-left: 1rem;
  background-color: transparent;
  border: none;
  color: white;
}

.buttons a:nth-child(2) svg {
  margin-left: 6px;
}
